h1{
	text-align: center;
	font-size: 60;
	font-family: "Comic Sans MS", cursive, sans-serif;
	opacity: 0.8;

}
h2{
text-align: right;
font-size: 20;
}

body
{
background:	#DCDCDC;
}
a {
	font-size: 30;
	text-decoration: overline;

}
div
{
vertical-align: middle;
margin: auto;
border: 10px;
width: 67%;
}
p
{
font-family: "georgia";
line-height: 189%;
text-indent: 35px;
font-size: 17;
}